<section class="settings">
    <mat-button-toggle-group class="settings__button-group" appearance="legacy" name="fontStyle" [value]=""
        aria-label="Font Style">
        <!-- <mat-button-toggle (change)="selectedAiServer = $event.value"
            [checked]="selectedAiServer === LLMEnum.OLLAMA" [value]="LLMEnum.OLLAMA">
            Ollama
        </mat-button-toggle> -->

        <mat-button-toggle (change)="selectedAiServer = $event.value"
            [checked]="selectedAiServer === LLMEnum.OPEN_AI" [value]="LLMEnum.OPEN_AI">
            OpenAI
        </mat-button-toggle>

        <mat-button-toggle (change)="selectedAiServer = $event.value"
            [checked]="selectedAiServer === LLMEnum.LLM_STUDIO" [value]="LLMEnum.LLM_STUDIO">
            LLM Studio
        </mat-button-toggle>
    </mat-button-toggle-group>

    @switch (selectedAiServer) {
        <!-- @case (LLMEnum.OLLAMA) {
            <app-ollama [clickSave]="clickSave"></app-ollama>
        } -->
        @case (LLMEnum.OPEN_AI) {
            <app-open-ai [clickSave]="clickSave"></app-open-ai>
        }
        @case (LLMEnum.LLM_STUDIO) {
            <app-llm-sudio [clickSave]="clickSave"></app-llm-sudio>
        }
    }

    <mat-form-field class="settings__prompt-configuration">
        <mat-label>Prompt configuration</mat-label>
        <textarea row="5" matInput placeholder="Prompt configuration" (change)="setPromptConfiguration($event)"
            [value]="promptConfiguration"></textarea>
    </mat-form-field>

    <button class="settings__save" (click)="save()" mat-flat-button>
        Save
    </button>
</section>