<section class="finder">
    <div class="finder__chat">
        <mat-card class="chat--user" appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>

        <mat-card class="chat--bot" appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>
    </div>

    <form [formGroup]="messageForm" (ngSubmit)="reply()">
        <mat-card class="finder__message" appearance="outlined">
            <textarea id="message__textarea" class="message__text" rows="1" placeholder="Ask a question..."
                formControlName="message"></textarea>
            <button class="message__send" mat-mini-fab extended>
                <mat-icon>send</mat-icon>
            </button>
        </mat-card>
    </form>
</section>