<section class="finder">
    <div class="finder__chat">
        <mat-card class="chat--user" appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>


        <mat-card class="chat--bot" appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>
    </div>

    <mat-card class="finder__message" appearance="outlined">
        <textarea id="message__textarea" class="message__text" rows="1" placeholder="Ask a question..."></textarea>
        <button class="message__send" mat-raised-button color="accent">Ask</button>
    </mat-card>
</section>