<section class="finder">
    <div id="finder__chat" class="finder__chat" #scrollContainer>
        @for (message of finderMessages; track $index) {
        @if (message.role === RoleEnum.USER) {
        <mat-card class="chat--user" appearance="outlined">
            <mat-card-content [innerText]="message.content"></mat-card-content>
        </mat-card>
        }

        @if (message.role === RoleEnum.ASSISTANT) {
        <mat-card class="chat--bot" appearance="outlined">
            <mat-card-content [innerText]="message.content"></mat-card-content>
        </mat-card>
        }
        }

        @if (waitingForResponse) {
        <mat-card class="chat--waiting" appearance="outlined">
            <mat-card-content class="waiting__content">
                <div class="waiting__dot"></div>
                <div class="waiting__dot"></div>
                <div class="waiting__dot"></div>
            </mat-card-content>
        </mat-card>
        }
    </div>

    <form [formGroup]="messageForm" (ngSubmit)="reply()">
        <label for="message__textarea">
            <mat-card for="message__textarea" class="finder__message" appearance="outlined">
                <textarea id="message__textarea" class="message__text" rows="1" placeholder="Ask a question..."
                    formControlName="message" (keydown.enter)="reply()" autofocus>
                </textarea>
                <button class="message__send" mat-mini-fab extended>
                    <mat-icon>send</mat-icon>
                </button>
            </mat-card>
        </label>
    </form>
</section>